html, body {
  height: 100%;
  width: 100%;
}

#p{
  background-color: lightblue;
}

body {
  background-image: url('./images/cavebg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
  background-color: #ffffff;
  border: 1px solid #1c2333;
  font-size:13px
}
p {
  background-color: lightblue;
  margin-left:750px;
  font-size:20px;
}

#myCanvas {
  position:relative;
  top:-600px;
}

#currentTile {
  left:900px;
  width:200px;
  height:100px;
}
#currentGold {
  left:1130px;
  width:300px;
  height:100px;
}
#equipment {
  left:1130px;
  top: 250px;
  width:300px;
  height:330px;
}